.firstex {
    margin: 70px;
    text-align: center;
    background-color: bisque;
}

.secondex {
    margin: 70px;
    text-align: center;
    background-color: bisque;
}

.fibo {
    text-align: center;
    margin: 70px;
    background-color: burlywood;
}