*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.logo img {
    margin-left: 800px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 760px;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
}

#about-me {
    display: flex;
    align-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px 0px 0px 150px;
}

#intro-img img {
    margin-left: 200px;;
}

div#intro {
    text-align: center;
}

div.col {
    text-align: center;
}

div.container {
    margin-top: 100px;
}

div.description {
    margin-top: 100px
}

div.image {
    margin-left: 200px
}

div.social-media {
    margin-top:100px;
    margin-left:-400px
}

div.social-media ul {
    padding: 0px;
}